.items-collapse {
  padding: 5px 0;
  margin: 0;
  cursor: pointer;
  font-weight: 300;
}

.items-collapse:hover {
  text-decoration: underline;
}

.items-collapse {
  font-weight: normal;
  cursor: pointer;
}

.items-collapse.active {
  font-weight: 600;
}

.table-list-none {
  display: none;
}

.porc-text {
  white-space: nowrap;
}

.porc-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nombre-input,
.password-input,
.desc-input,
.divisa-input,
.tipoPrecio-input {
  margin-bottom: 25px;
}

.header-excel {
  width: 33.33%;
  display: flex;
  justify-content: flex-end;
}

.btn-excel {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  border-radius: 50px;
  margin: 5px;
}

.excel {
  transform: translateX(-3px);
  width: 23px;
  height: 23px;
  fill: #ffffff;
}

.input-textarea {
  min-height: 100px;
}

.input-group-svg-divisa {
  height: 20px;
  width: 20px;
}

.input-group-svg-divisa-big {
  height: 23px;
  width: 23px;
}

.input-group-svg-divisa-big2 {
  height: 20px;
  width: 20px;
  margin-right: 5px;
  margin-bottom: 3px;
}

.precio-pesos {
  background-color: #6c757d;
  border-radius: 5px;
}

.stock-btns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.zero-stock {
  background-color: #422323e0 !important;
  text-align: center;
}

.hidden-product {
  background-color: #423f23e0 !important;
  text-align: center;
}

.zero-stock-hidden {
  background-color: #232942e0 !important;
  text-align: center;
}

.divisa-div {
  margin-bottom: 0px !important;
}

.establecer-cotizacion-div {
  justify-content: flex-start;
}

.svg-btn {
  border-radius: 30px;
  width: 70px;
  height: 25px;
  margin: 5px;
}

.svg {
  -webkit-transform: translate(0px, -8px);
  transform: translate(0px, -8px);
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.stock-pendiente {
  margin-top: 5px;
  margin-bottom: 0px;
  color: orange;
  text-wrap: nowrap;
}

@media (max-width: 800px) {
  .header-excel {
    width: auto;
  }

  .stock-div {
    flex-direction: column;
  }
}
